{% extends "AcademiaFutbol/padre.html" %}
{% load static %}

{% block contenidoQueCambia %}

    <h1 style="color:azure;">Grupos Disponibles</h1>

    <form action="/AcademiaFutbol/buscar" method="GET">
        <input type="text" name="categoria" id="categoria">
        <input type="submit" value="Buscar">
    </form>

    <h2>Todos los Cursos</h2>
    <section style="color: azure;">
        {% for categoria in object_list %}

        <p>Categoria: {{categoria.categoria}}</p>
        <p>Edad Minima: {{categoria.edadMinima}}</p>
        <p>Edad Maxima: {{categoria.edadMazima}}</p>
        <hr>

    {% endfor %}
    </section>


{% endblock %}