{% extends "AcademiaFutbol/padre.html" %}
{% load static %}

{% block contenidoQueCambia %}

    <h1 style="color: rgb(22, 241, 241);">Grupos Disponibles</h1>

    <form action="/AcademiaFutbol/buscar" method="GET">
        <input type="text" name="categoria" id="categoria">
        <input type="submit" value="Buscar">
    </form>

    <h2>Todos los Grupos</h2>

    {% for categoria in object_list %}

    <p>Categoria: {{categoria.categoria}}</p>
    <p>Edad Minima: {{categoria.edadMinima}}</p>
    <p>Edad Maxima: {{categoria.edadMazima}}</p>
    <hr>

    {% endfor %}


{% endblock %}