{% extends "AcademiaFutbol/padre.html" %}
{% load static %}

{% block contenidoQueCambia %}

<h1 style="color: rgb(13, 17, 17);">Grupos Disponibles</h1>

    <p style="color: azure">Estamos buscando el: {{categoria}}</p>

    {% if categoria %}

    <section style="color: azure">

        {% for categoria in categoria %}

                <p>Categoria: {{categoria.categoria}}</p>
                <p>Edad Minima: {{categoria.edadMinima}}</p>
                <p>Edad Maxima: {{categoria.edadMazima}}</p>
                <hr>

        {% endfor %}

    </section>

    {% endif %}

{% endblock %}